<p>card works!</p>
{{datollego}}

<!-- <div id="rellenar" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3"> 
    <div class="col" *ngFor="let item of input">
        <div class="card shadow-sm">
            <img class="img" src="{{item.imagen}}"> <br>
            <h4 class="text-center">{{item.name}}</h4>

            <div class="d-flex justify-content-center aling-items-center pb-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div> -->